.reviews {
  padding: 60px 80px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.reviews-grid div {
  background: #111;
  padding: 20px;
  border-radius: 10px;
}
